<h1>
  :setup view debug text:
</h1>
<form>
  <input placeholder="Player 1"/>
  <button>:delete_player:</button>
  <br/>
  <input placeholder="Player2"/>
  <button>:delete_player:</button>
  <br/>
  <input placeholder="Player3"/>
  <button>:delete_player:</button>
  <br/>
  <input placeholder="Player4"/>
  <button>:delete_player:</button>
  <br/>
  <button>:add_player:</button>
  <button>:to_board:</button>
</form>

