<h1>
  :board view debug text:
</h1>
<form>
  <table>
    <tr>
      <td>
        <table>
          <tr><th>:cat 1:</th></tr>
          <tr><td><button>:value 1:</button></td></tr>
          <tr><td><button>:value 2:</button></td></tr>
          <tr><td><button>:value 3:</button></td></tr>
          <tr><td><button>:value 4:</button></td></tr>
          <tr><td><button>:value 5:</button></td></tr>
        </table>
      </td>
      <td>
        <table>
          <tr><th>:cat 2:</th></tr>
          <tr><td><button>:value 1:</button></td></tr>
          <tr><td><button>:value 2:</button></td></tr>
          <tr><td><button>:value 3:</button></td></tr>
          <tr><td><button>:value 4:</button></td></tr>
          <tr><td><button>:value 5:</button></td></tr>
        </table>
      </td>
      <td>
        <table>
          <tr><th>:cat 3:</th></tr>
          <tr><td><button>:value 1:</button></td></tr>
          <tr><td><button>:value 2:</button></td></tr>
          <tr><td><button>:value 3:</button></td></tr>
          <tr><td><button>:value 4:</button></td></tr>
          <tr><td><button>:value 5:</button></td></tr>
        </table>
      </td>
      <td>
        <table>
          <tr><th>:cat 4:</th></tr>
          <tr><td><button>:value 1:</button></td></tr>
          <tr><td><button>:value 2:</button></td></tr>
          <tr><td><button>:value 3:</button></td></tr>
          <tr><td><button>:value 4:</button></td></tr>
          <tr><td><button>:value 5:</button></td></tr>
        </table>
      </td>
      <td>
        <table>
          <tr><th>:cat 5:</th></tr>
          <tr><td><button>:value 1:</button></td></tr>
          <tr><td><button>:value 2:</button></td></tr>
          <tr><td><button>:value 3:</button></td></tr>
          <tr><td><button>:value 4:</button></td></tr>
          <tr><td><button>:value 5:</button></td></tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<br/>
<form>
  <table>
    <tr>
  <td>
    <h2>:player 1:</h2>
    <p>:score:</p>
    <button>:select player:</button>
  </td>
  <td>
    <h2>:player 2:</h2>
    <p>:score:</p>
    <button>:select player:</button>
  </td>
  <td>
    <h2>:player 3:</h2>
    <p>:score:</p>
    <button>:select player:</button>
  </td>
  <td>
    <h2>:player 4:</h2>
    <p>:score:</p>
    <button>:select player:</button>
  </td>
    </tr>
  </table>
</form>

