<div>{{view}}</div>
<hr/>
<div>
  <h2>:indev debug buttons:</h2>
  <div>
    <button onclick={{to_greeting}}>
      :to_greeting:
    </button>
    <button onclick={{to_setup}}>
      :to_setup:
    </button>
    <button onclick={{to_board}}>
      :to_board:
    </button>
    <button onclick={{to_answer}}>
      :to_answer:
    </button>
    <button onclick={{to_scoreboard}}>
      :to_scoreboard:
    </button>
  </div>
</div>

